*{
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;
}
body{
    background-image: url('fondo.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
}
span{
    font-weight: bold;
}
form{
    width: 250px;
    text-align: center;
    margin: auto;
}
input{
    margin: 5px 0px;
    height: 40px;
    width: 100%;
    font-size: 20px;
    background-color: transparent;
    outline: none;
    border-width: 1px;
}
button{
    margin: 5px 0px;
    font-size: 20px;
    height: 50px;
    background-color: #BA4A00;
    border: 5px outset #DC7633;
    width: 150px;
    color: white;
    outline: none;
}
button:hover{
    cursor: pointer;
    border-style: inset;
}
button:disabled{
    opacity: 0.5;
    cursor: auto;
    border-style: inset;
}
.page{
    width: 700px;
    min-height: 100vh;
}